entrypoint = "README.md"
modules = ["nodejs-22", "postgresql-16"]

[nix]
channel = "stable-24_05"

[deployment]
deploymentTarget = "cloudrun"
build = ["sh", "-c", "npm run expo:static:build && npm run server:build"]
run = ["npm", "run", "server:prod"]

[[ports]]
localPort = 5000
externalPort = 5000

[[ports]]
localPort = 8081
externalPort = 80

[[ports]]
localPort = 8082
externalPort = 3000

[env]
PORT = "5000"

[agent]
stack = "EXPO"
expertMode = true

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start App"

[[workflows.workflow]]
name = "Start App"
author = "agent"
mode = "parallel"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start Backend"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start Frontend"

[[workflows.workflow]]
name = "Start Backend"
author = "agent"
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run server:dev"
waitForPort = 5000

[[workflows.workflow]]
name = "Start Frontend"
author = "agent"
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run expo:dev"
waitForPort = 8081
ensurePreviewReachable = "/status"

[userenv]

[userenv.shared]
FIREBASE_API_KEY = "AIzaSyClEPO1EIRG3vxbQgS6l9AdZj0dIt765e0"
FIREBASE_PROJECT_ID = "scan-guard-19a7f"
FIREBASE_STORAGE_BUCKET = "scan-guard-19a7f.firebasestorage.app"
FIREBASE_DATABASE_URL = "https://scan-guard-19a7f-default-rtdb.asia-southeast1.firebasedatabase.app"
FIREBASE_APP_ID = "1:971359442211:android:96d2747d81b499102fa896"
EXPO_PUBLIC_GOOGLE_WEB_CLIENT_ID = "971359442211-dppv9u14kun8mo5c0e07pr6f6veh81aa.apps.googleusercontent.com"
EXPO_PUBLIC_ANDROID_CLIENT_ID = "971359442211-j2emebstu4e63sd7u56k852ok1sb9rs2.apps.googleusercontent.com"
